
.body {
  color: grey;
}
.page-wrap{
  background-color: : radial-gradient(grey, blue);
}
.title {
  font-family: sans-serif;
  font-size: 30px;
  color: #007acc;
  text-align: center;
}
.instructions {
  font-family: sans-serif;
  background-color:inherit;
  color:#007acc;
  text-align:center;
}
#startButton {
  background-color: blue;
  margin-top: 30%;
}
#startButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
	background-color:#bddbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:10px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
#startButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
	background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#80b5ea;
}
#startButton:active {
	position:relative;
	top:1px;
}
#restartButton {
  background-color: blue;
  font-size: 20px;
}
#restartButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
	background-color:#bddbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:10px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
#restartButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
	background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#80b5ea;
}
#restartButton:active {
	position:relative;
	top:1px;
}
.playArea {
  position: absolute;
  height: 600px;
  width: 90%;
  text-align: center;
  font-size: 48px;
  color: blue;
  border: 2px solid black;
  margin: 10px 5%;
  background-size: cover;
  background-image: url('nationalTreasure.jpg');
}
.playArea:hover{
  cursor:pointer;
}
.playArea:active {
  cursor:grabbing;
}
.scoreArea {
  position: absolute;
  right: 8%;
  top: 10px;
  height: 30px;
  width: 250px;
  display: inline-block;
  text-align: right;
}
.missArea{
  position: absolute;
  left: 8%;
  top: 10px;
  height: 30px;
  width: 250px;
}
.missLabel {
  display: inline-block;
  margin-top: 10px;
}
.scoreLabel {
  display: inline-block;
  margin-top: 10px;
}
#scoreDiv {
  float: right;
  margin-top: 10px;
  width: 40px;
  height: 20px;
  border: 1px solid black;
  text-align: right;
  padding-right: 4px;

}
#cage {
  z-index: 10;
}
.cage-list{
  width: 250px;
}
.cage-list-item:before{
  content:'';
   display: inline-block;
   height: 30px;
   width: 30px;
   background-image: url('NicCageIcon.png');
   background-size: contain;
   float:left;
   margin: 2px;
 }
 .leo-list-item:before{
   content:'';
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url('Dicap.png');
    background-size: contain;
    float:left;
    margin: 2px;
  }
 .last-words{
   font-style:italic;
   color: black;
   background-color: rgba(100, 100, 150, 0.5);
 }
